<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Email Validation</title>
</head>
<body>
    <h1>Enter a valid Email address!!!!</h1>
    <h1>Email Validation</h1>
            <form method="post" action="/validate-email">
                <label for="email">Email:</label><br>
                <input type="text"  id="email" name="email"><br><br>
                <button type="submit">Validate</button>
            </form>
</body>
</html>