<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regular Expression Matching</title>
</head>
<body>
    
        
    
            <h1>Regular Expression for String </h1>
            <form action="/regex" method="POST">
                <label for="text">String:</label><br>
                <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
                <label for="pattern">Pattern:</label><br>
                <input type="text" id="pattern" name="pattern"><br>
                <input  type="submit" value="Match">
            </form>
        
        
        
            <h1>Email Validation</h1>
            <form method="post" action="/validate-email">
                <label for="email">Email:</label><br>
                <input type="text"  id="email" name="email" placeholder="eg:abc@gmail.com"><br><br>
                <button type="submit">Validate</button>
            </form>
        
    
    
</body>
</html>